/* site-specific variables and css (see Bootstrap's _variables.scss) */

.jumbotron {
  text-align: center;
  background-color: transparent;
}

.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

// to make card-top images the same width as the card
.card-img-top {
  width: 100%;
}
